## GitHub Linux/OSX/Windows Ignores ##
.*
!.gitignore
*~
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## GitHub SublimeText Ignores ##
*.sublime-workspace

## GitHub C Ignores ##
*.o
*.lib
*.a
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

## GitHub LaTeX Ignores ##
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
